{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        En este estudio, tú estarás en un grupo formado aleatoriamente de {{ Constants.players_per_group }} participantes. A cada participante
        del grupo se le da {{ Constants.endowment }}. El grupo
        tiene la oportunidad de emprender un proyecto conjunto. Cada participante en
        el grupo decide cuanto ella o él va a contribuir al proyecto.
        La contribución puede ser cualquier cantidad entera entre 0
        y {{ Constants.endowment }}.
    </p>
    <p>
        Las ganaancias del proyecto son calculadas como sigue: Se suman las
        contribuciones de todos los {{ Constants.players_per_group }} particpantes,
        esa contribución total es multiplicada por un factor de {{ Constants.multiplier }}, y el
        monto resultante es la ganacia total del proyecto, que es luego
        repartida entre todos los {{ Constants.players_per_group }}
        particpantes. Tu pago es igual a tus ganancias del proyecto, más
        el monto que no contribuiste.
    </p>
</div>

