{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Pagos de la Sesión
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">

{#            <p><strong> </strong></p>#}
{#            <p>Tus ganancias fueron seleccionadas aleatoriamente de 1 de los 4 juegos en los que participaste</p>#}

        </div>
    </div>

    {% next_button %}

{% endblock %}

{% block form %}

{% endblock %}
