{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Gracias
{% endblock %}

{% block content %}


    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Laboratorio:</strong></p>
            <p>Tus ganancias fueron seleccionadas aleatoriamente de 1 de los 4 juegos en los que participaste</p>
            <p>A continuación lo invitamos a llenar una pequeña encuesta. Por favor manténgase sentado hasta que
                sea llamado por el encargado del laboratorio. Luego proceda a recibir su boleta de pago</p>
            </div>
    </div>

    {% next_button %}

{% endblock %}

{% block form %}

{% endblock %}
