{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>
    <p>
        Usted ha sido aleatoriamente emparejado con otro participante.
        Uno de ustedes será seleccionado para representar al participante A; mientras que
        el otro será el participante B.
        Usted aprenderá si es el participante A o B antes de realizar cualquier decisión.

    </p>
    <p>
        Para empezar, el participante A  recibirá {{ Constants.endowment }};
        mientras que el participante B no recibirá nada.
        El participante A puede enviar algún monto del total de sus {{ Constants.endowment }} al participante B.
        Antes que B reciba ese monto, la cantidad enviada será multiplicada por {{ Constants.multiplication_factor }}.
        Cabe resaltar que usted no tendrá la obligación de enviar algún monto, pero si lo hiciese, deberá indicar cuánto.
        Nótese que ambos participantes conocen todas las instrucciones.
    </p>
</div>