{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Tu elección
{% endblock %}

{% block content %}
<p>
    Usted es el participante B.
    El participante A le acaba de enviar {{group.sent_amount}} por lo que usted ha recibido {{tripled_amount}}.
    Ahora usted cuenta con {{tripled_amount}}.
    Cuánto de este monto te gustaría devolver al participante A?
</p>

    {% formfield group.sent_back_amount with label=prompt %}
    <p>{% next_button %}</p>
    {% include Constants.instructions_template %}

{% endblock %}
