{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Tu elección
{% endblock %}

{% block content %}

    <p>
        Usted es el participante A. Ahora cuentas con {{Constants.endowment}}. Cuánto del monto otorgado te gustaría enviar al participante B?
    </p>

    {% formfield group.sent_amount with label="Por favor, ingrese un monto entre 0 a 100:" %}
    <p>
    {% next_button %}
    </p>

    {% include Constants.instructions_template %}

{% endblock %}
