{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        Estás en un grupo de {{ Constants.players_per_group }} personas.
        A cada uno de ustedes se le pedirá escoger un
        número entre 0 y {{ Constants.guess_max }}.
        El ganador será el participante que haya elegido
        el número más cercano a los 2/3 del promedio
        de los números elegidos.
    </p>

    <p>
        El ganador recibirá {{ Constants.jackpot }}.
        En caso de empate, los {{ Constants.jackpot }}
        serán igualmente divididos entre los ganadores.
    </p>

    <p> Este juego se desarrollará en {{ Constants.num_rounds }} rondas.</p>

</div>
